



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




@keyframes logo-bounce {
  from {
    transform: translateY(-0.5rem);
  }
  to {
    transform: translateY(0.5rem);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-bounce infinite 2s alternate;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
